<a href="https://colab.research.google.com/github/Aswin1655/23CSBTB29/blob/main/aimllab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
l1=[1,23,45,67]
l2=[34,49,23,64]
l3="apple"
print(l1+l2)
print(type(l1))
print(type(l3))

[1, 23, 45, 67, 34, 49, 23, 64]
<class 'list'>
<class 'str'>

In [4]:
import numpy as np
a=np.array(l1)
b=np.array(l2)
print("Add = ",a+b)
print("Mul = ",a*b)
print("Sub = ",a-b)
print("Div = ",a/b)

Add =  [ 35  72  68 131]
Mul =  [  34 1127 1035 4288]
Sub =  [-33 -26  22   3]
Div =  [0.02941176 0.46938776 1.95652174 1.046875  ]

In [5]:
print("Sin of 'a' : ",np.sin(a))
print("Log od 'a' : ",np.log(a))
print("Log2 of 'a' : ",np.log2(a))
print("Exp of 'a' : ",np.exp(a))

Sin of 'a' :  [ 0.84147098 -0.8462204   0.85090352 -0.85551998]
Log od 'a' :  [0.         3.13549422 3.80666249 4.20469262]
Log2 of 'a' :  [0.         4.52356196 5.4918531  6.06608919]
Exp of 'a' :  [2.71828183e+00 9.74480345e+09 3.49342711e+19 1.25236317e+29]

In [6]:
print("Sin of 'a' : ",np.sin(b))
print("Log od 'a' : ",np.log(b))
print("Log2 of 'a' : ",np.log2(b))
print("Exp of 'a' : ",np.exp(b))

Sin of 'a' :  [ 0.52908269 -0.95375265 -0.8462204   0.92002604]
Log od 'a' :  [3.52636052 3.8918203  3.13549422 4.15888308]
Log2 of 'a' :  [5.08746284 5.61470984 4.52356196 6.        ]
Exp of 'a' :  [5.83461743e+14 1.90734657e+21 9.74480345e+09 6.23514908e+27]

In [8]:
people = ['kiran','arun','vijay','varun']
age =[25,30,35,40]
height =[145,151,165,173]
weight=[45,55,65,75]
print(people)
print(age)
print(height)
print(weight)

['kiran', 'arun', 'vijay', 'varun']
[25, 30, 35, 40]
[145, 151, 165, 173]
[45, 55, 65, 75]